<h1><%=@body.name%></h1>
<br>
<label>Body Name: </label>
<%=@body.name%>
<br>
<label>Body Brand: </label>
<%=@body.brand%>
<br>
<label>Body Sensor Size: </label>
<%=@body.sensor_size%>
<br>
<br>
<a href='/bodies/<%=@body.id%>/edit'>Edit This Body</a>
<br>
<br>
<a href='/users/<%=session[:user_id]%>/gear'>Return to Gear</a>