<h1><%=@lens.brand%> <%=@lens.mount%> <%=@lens.focal_length%></h1>
<br>
<label>Lens Brand: </label>
<%=@lens.brand%>
<br>
<label>Lens Mount: </label>
<%=@lens.mount%>
<br>
<label>Lens Focal Length: </label>
<%=@lens.focal_length%>
<br>
<br>
<a href='/lens/<%=@lens.id%>/edit'>Edit This Lens</a>
